services:
  rabbitmq:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q check_running"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    networks:
      - rabbit-net

  app:
    build:
      context: ./rabbitmq-example
      dockerfile: Dockerfile
    container_name: rabbitmq-spring-app
    depends_on:
      rabbitmq:
        condition: service_healthy
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - rabbit-net

networks:
  rabbit-net:
    driver: bridge